body {
	margin: 0;
	display: table;
	width: 100%;
	height: 100%;
}

.container {
	display: table-cell;
	vertical-align: middle;
}

.box {
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

#chart {
	display: none;
}