<html>
<head>
	<title>Money, Money, Money!</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	{% block head %}{% endblock %}
</head>
<body>
	<div class="container">
		<div class="box">
			<div class="sidebar">
				<input type="button" id="USD" value="Dólar"/>
				<input type="button" id="EUR" value="Euro"/>
				<input type="button" id="ARS" value="Peso Argentino"/>
			</div>
			<div class="content">
				{% block main %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>