{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/highcharts/highcharts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/highcharts/modules/exporting.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block main %}
<p>Selecione a moeda para exibir a cotação nos últimos 7 dias</p>
<div id="chart"></div>
{% endblock %}